body{
    color: rgb(14, 12, 12);
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

title{
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

